.backgroundSlide1{
  background-image:url(./assets/birger-strahl-gjncW4qodb0-unsplash.jpg);
  background-color: #0000003c;
  background-size: cover;
  border-radius: 24px;
  height: 400px;
  background-blend-mode: overlay;
}
.backgroundSlide2{
  background-image:url(./assets/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg);
  background-color: #00000000;
  background-size: cover;
  border-radius: 24px;
  height: 400px;
  background-blend-mode: overlay;
}
.backgroundSlide3{
  background-image:url(./assets/hermes-rivera-R1_ibA4oXiI-unsplash.jpg);
  background-color: #75363671;
  background-size: cover;
  border-radius: 24px;
  height: 400px;
  background-blend-mode: overlay;
}
.backgroundSlide4{
  background-image:url(./assets//jamie-haughton-Z05GiksmqYU-unsplash.jpg);
  background-color: #00000043;
  background-size: cover;
  border-radius: 24px;
  height: 400px;
  background-blend-mode: overlay;
}